{% for submission in submissions %}
    <!-- just displaying the submission data in the table-->
    <tr>
        <td>{{ submission.content }}</td>
        <td>{{ submission.get_category_display }}</td>
        <td hx-target="this" hx-swap="innerHTML">
            {% include 'submissions/partials/status_cell.html' %}
        </td>
        <td>
            <span class="created-date">{{ submission.created_at|date:"j.n.y" }}</span>
            <span class="created-time">{{ submission.created_at|time:"H:i:s" }}</span>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="4" class="no-data">No submissions found.</td>
    </tr>
{% endfor %} 